*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    height: 100vh;
    width: 100%;
    background-image: url(img/bg.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
.navbar{
    width: 88%;
    margin: auto;
    /* padding: 15px 0; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 140px;
    cursor: pointer;
}
.navbar ul li{
list-style: none;
display: inline-block;
margin: 0 15px;
}


.navbar ul li a{
    text-decoration: none;
    color: black;
    font-size:15px ;
}


.content{
    width: 100%;
    position: absolute;
    top: 30%;
}


.left-col{
    margin-left: 6%;
}

.left-col h1{
    font-size: 90px;
    color: black;
    line-height: 110px;
    float: left;
}


.right-col{
    float: right;
    margin-right: 6%;
    margin-top: 60px;
    display: flex;
    align-items: center;
}

.right-col img{
    width: 50px;
    cursor: pointer; 
}

.right-col p{
    font-size: 18px;
    color: black;
    font-weight: 400;
    margin-right: 15px;
}

/* code for music list */
.newcontent h1{
    top: 100vh 0;
    position: relative;
    background-color: #fed78a ;
    padding-left: 10px;
    text-align: center;
    justify-content: center;
    font-size: 40px;
   
}
.newcontent{
    background-color: #fed78a ;
}


/* for bottom */

.bottom{
position: sticky;
height: 130px;
background-color:  #fed78a ;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
bottom: 0px;
}

.icons{
    margin-top: 12px;
}
.icons i{
    cursor: pointer;
}

#myProgressBar {
    width: 80vw;
    flex-direction: 10px;
    cursor: pointer;
}


/* for container or new song list */
.newcontent {

 border-color: black;
}
.songdiv{
    background-image: url(img/bg4.jpg);
    height: auto;
    width: 100%;
    BACKGROUND-REPEAT: no-repeat;
}
.songlist-wrapper {
    display: flex;
    justify-content: flex-end;
    margin: 0 30px;
}

.songlist{
 height: 50px;
 display: flex;
background-color: rgb(255, 228, 206);
align-items: center;
width: 30%;
border-radius: 20px;
margin: 32px 0;
justify-content: space-between;

}

.songlist img{
    width: 43px;
    margin: 0 23px;
    border-radius: 9px;
    cursor: pointer;
}
.time{
    margin: 0 23px;
    cursor: pointer;
}
.songInfo{
    position: absolute;
    left: 10vw;
  
}
.songInfo img{
opacity: 0;
transition: opacity 0.4s ease-in;
}
